.Header {
  background-color: rgb(108, 228, 192);
  overflow: hidden;
  height: 150px;
}

.appTitle {
  font-family: "Style Script", cursive;
  display: block;
  color: white;
  text-align: center;
  margin: 25px 0px 0px 0px;
  text-decoration: none;
  font-size: 75px;
  cursor: pointer;
}

.navBar {
  overflow: hidden;
  background-color: lightseagreen;
  padding: 10px 5px;
}
.navLinks {
  margin-left: 20px;
}

.navLinks a {
  float: left;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 0px 10px;
}

.navLinks a:hover {
  text-decoration: underline;
}

.form-horizontal {
  float: right;
  margin-right: 10px;
}

input {
  padding: 7px 10px;
  width: 400px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

button {
  float: right;
  padding: 3px 5px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.meals {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.meals h1 {
  font-size: 50px;
}

.meals img {
  max-width: 500px;
}

.meals h2 {
  font-size: 35px;
  text-decoration: underline;
}

::placeholder {
  color: rgb(168, 167, 167);
}
