body {
  /* background: linear-gradient(to top, #dffdf3, #ffffff); */
  background-attachment: fixed;
  color: rgb(49, 78, 77);
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  background-color: rgb(108, 228, 192);
  overflow: hidden;
  height: 150px;
}

.appTitle {
  font-family: "Style Script", cursive;
  display: block;
  color: white;
  text-align: center;
  margin: 25px 0px 0px 0px;
  text-decoration: none;
  font-size: 75px;
  cursor: pointer;
}

.navBar {
  overflow: hidden;
  background-color: lightseagreen;
  padding: 10px 5px;
}

.form-horizontal {
  text-align: center;
}

input {
  padding: 7px 10px;
  width: 400px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #666666;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.mealContainer {
  text-align: center;
  max-width: 400px;
  max-height: 500px;
  overflow: auto;
  margin: auto;
  margin-top: 80px;
  border: solid 3px rgb(146, 185, 178);
  border-radius: 15px;
  padding: 5px 25px;
  background: linear-gradient(to top, #dffdf3, #ffffff);
}

.meals img {
  max-width: 300px;
  border-radius: 25px;
}

.meals h2 {
  font-size: 30px;
}

::placeholder {
  color: rgb(168, 167, 167);
}
